@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Montserrat&display=swap');

/* define a primary color variable */
:root {
  --primary: #75C204;
  --primary-light: #A5D65A;
  --card-bg-light: #fff;
  --card-bg-dark: #282C32;
}

body {
  font-family: 'Arimo', sans-serif;
}

.card-bg-light {
  background-color: var(--card-bg-light);
}

.card-bg-dark {
  background-color: var(--card-bg-dark);
}

.card-bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.bg-primary-light {
  background-color: var(--primary-light);
}